.banner-p {
  margin-top: 10px;
  background-color: #aa1deb;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: "Roboto mono", sans-serif;
}
.banner-title-p {
  text-align: center;
}
.nav-link {
  color: white;
}
.tabs {
  margin-top: 50px;
}
.nav-link:hover {
  color: black;
  background-color: #fff;
}

@media (max-width: 768px) {
  .about-me {
    margin-left: 50px;
    margin-right: 50px;
  }
  .title {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1rem;
  }
}

.card {
  color: black;
  margin: 15px;
  width: 700px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.github-button {
  margin-top: 10px;
  background-color: #aa1deb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto mono", sans-serif;
}
.github-button:hover {
  background-color: #121013;
  color: white;
}
@media (max-width: 768px) {
  .card {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .tabs {
    margin-top: 0px;
  }
}
